<div class="sprint-wrapper" *ngFor="let sprint of sprintList">
    <mat-accordion >
         <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{sprint.sprint_name}}
            </mat-panel-title>
            <mat-panel-description>
            
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-sprint [sprint_id]="sprint.sprint_id"></app-sprint>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="spacer"></div>