.sprint-wrapper{
    margin: 20px;
}

.animated-button{
    opacity: 1;
    outline: 0;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    margin: 30px;
    width: 120px;
    border-radius: 6px;
}

.animated-button:hover::after{
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.animated-button:hover::before{
    opacity: 0;
    transform: translateY(100%) rotateX(90deg);
}

.animated-button::after{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.5s;
    position: absolute;
    content: attr(data-back);
    transform: translateY(-100%) rotateX(90deg);
    background: #3f51b5;
    color: #FFF;
    border-radius: 6px;
}

.animated-button::before{
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    background: #323237;
    color: #FFF;
    border-radius: 6px;
    font-size: 0.7cm;
}