.sprint-wrapper {
    margin: 20px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    text-decoration: none;
}

.centered {
    position: absolute;
    transform: translate(-50%, -50%);
}

.h-button {
    border: 2px solid black;
    padding: 15px;
    height: 20px;
    width: 120px;
    text-align: center;
}

.h-button span {
    display: inline-block;
    min-width: 0.30em;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    opacity: 0;
    transform: translate(0, -20px);
}

.h-button::before {
    content: attr(data-before);
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    opacity: 1;
    transform: translate(0, 0px);
}


.h-button:hover::before,
.h-button:focus::before {
    opacity: 0;
    transform: translate(0, 20px);
}

.h-button:hover span,
.h-button:focus span {
    opacity: 1;
    transform: translate(0, 0);
}


/* .animated-button{
    opacity: 1;
    outline: 0;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    margin: 30px;
    width: 120px;
}

.animated-button:hover::after{
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.animated-button:hover::before{
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.animated-button::after{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.5s;
    position: absolute;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    background: rgb(100, 100, 100);
    color: white;
}

.animated-button::before{
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    content: attr(data-front);
    transform: translateZ(0) rotateX(0);
    background: #cecece;
    color: black;
    font-size: 0.7cm;
} */