.sprint-wrapper {
    margin: 20px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    text-decoration: none;
}

.centered {
    position: relative;
    transform: translate(-50%, -50%);
    margin: 30px;
}

.h-button {
    border: 2px solid black;
    padding: 15px;
    height: 20px;
    width: 120px;
    text-align: center;
}

.h-button span {
    display: inline-block;
    min-width: 0.30em;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    opacity: 0;
    transform: translate(0, -20px);
    color: white;
}

.h-button::before {
    content: attr(data-before);
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    opacity: 1;
    transform: translate(0, 0px);
}


.h-button:hover {
    background: black;
    transition: background 0.2s linear
}


.h-button:hover::before,
.h-button:focus::before {
    opacity: 0;
    transform: translate(0, 20px);
}

.h-button:hover span,
.h-button:focus span {
    opacity: 1;
    transform: translate(0, 0);
}



