<!-- button -->
<div>
    <a class="h-button centered" data-before="+" (click)="openDialog('0ms', '0ms')" style="top: 50px; right: 10px">
        <span>new sprint</span>
    </a>
    <br><br><br><br><br>
</div>

<div class="sprint-wrapper" *ngFor="let sprint of sprintList">
    <mat-accordion>
        <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
            TEST_SPRINT
            </mat-panel-title>
            <mat-panel-description>
            SPRINT_DESC
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-sprint [sprint_id]="3"></app-sprint>
        </mat-expansion-panel> -->

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{sprint.sprint_name}}
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-sprint [sprint_id]="sprint.sprint_id"></app-sprint>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="spacer"></div>