.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }

button {
  margin-left: 30px;
}

.btn {
  transition: all 0.5s ease;
  color: black;
  border: 2px solid black;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(238, 238, 238);
  outline: none;
  border-radius: 4px;
}

.start:hover {
  color: white;
  background-color: rgb(63, 81, 181);
}

.end:hover {
  color: white;
  background-color: rgb(244, 67, 54);
}