<h1>{{buttonName}} Activity</h1>
<form [formGroup]="activityDataForm" (ngSubmit)="processData()">
    <div class="gird-form">
        <mat-form-field appearance="outline">
            <mat-label>Assignee</mat-label>
            <mat-select name="member"  formControlName="member_id">
                <mat-option *ngFor="let member of memberOptions" 
                [value]="member.member_id">{{member.member_name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description"  formControlName="activity_desc">
        </mat-form-field>
       
        <mat-form-field appearance="outline">
            <mat-label>Datetime</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="yyyy-mm-dd" name="due_date" formControlName="activity_datetime">
            <mat-hint>YYYY-MM-DD</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <div>
            <p>Time</p>
            <mat-form-field class="hour">
                <input type="number" min="0" max ="23" matInput placeholder="Hour" formControlName="datetime_hour">
            </mat-form-field>

            <mat-form-field class ="minutes">
                <input type="number" min="0" max="59" matInput placeholder="minutes" formControlName="datetime_minutes">
            </mat-form-field>
        </div>

        <div>
            <p>Duration</p>
            <mat-form-field class="hour">
                <input type="number" min="0" max ="23" matInput placeholder="Hour" formControlName="dur_hour">
            </mat-form-field>

            <mat-form-field class ="minutes">
                <input type="number" min="0" max="59" matInput placeholder="minutes" formControlName="dur_minutes">
            </mat-form-field>
        </div>


        
    </div>
    <button mat-raised-button type="submit" color="primary">{{buttonName}}</button>
</form>
