<h1>{{formTitle}}</h1>
<form [formGroup]="taskDataForm" (ngSubmit)="processData()">
    <div class="gird-form">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="enter name of task" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description"  formControlName="description">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select name="status"  formControlName="status">
            <mat-option [value]="'To do'"> To do</mat-option>
            <mat-option [value]="'In Progress'">In Progress</mat-option>
            <mat-option [value]="'To Review'"> To Review</mat-option>
            <mat-option [value]="'Completed'"> Completed</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Priority</mat-label>
            <mat-select name="priority"  formControlName="priority"> 
            <mat-option [value]="'High'"> High</mat-option>
            <mat-option [value]="'Medium'">Medium</mat-option>
            <mat-option [value]="'Low'">Low</mat-option>
            </mat-select>
        </mat-form-field>
       
        <mat-form-field appearance="outline">
            <mat-label>Tag</mat-label>
            <mat-select name="tag"  formControlName="tag"> 
                <mat-option [value]="'Story'"> Story</mat-option>
                <mat-option [value]="'Task'">Task</mat-option>
                <mat-option [value]="'UI/UX'">UI/UX</mat-option>
                <mat-option [value]="'Maintanence'">Maintanence</mat-option>
                <mat-option [value]="'Bug'">Bug</mat-option>
            </mat-select>
        </mat-form-field>
        

        <mat-form-field appearance="outline">
            <mat-label>Assignee</mat-label>
            <input matInput placeholder="Assignee"  name="assignee" formControlName="assignee">
        </mat-form-field>
      
        <mat-form-field appearance="outline">
            <mat-label>Story Point</mat-label>
            <input matInput placeholder="Story Point"  name="story_point" formControlName="story_point">
        </mat-form-field>
       

        <mat-form-field appearance="outline">
            <mat-label>Due Date</mat-label>
            <input matInput placeholder="Due Date"  name="due_date" formControlName="due_date">
        </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary">{{buttonName}}</button>
</form>


