.detail-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.detail-grid h2{
  font-size: 18px;
}

.detail-grid p{
  font-size: 14px;
}

.task-detail{
    margin: 20px;
}

table {
    width: 100%;
  }

  .mat-cell {
    padding: 10px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }