.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }

.text_button {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  line-height: 18px;
  height: auto;
  width: 100px;
  position: relative;
  left: 20px;

}

.text_button:hover {
  background-color:#242e66;
  transition: 0.7s;
}