<div *ngIf="activeSprint.length > 0; else welcomePage">
    <div class="sprint-wrapper" *ngFor="let sprint of activeSprint">
        <mat-accordion>
            <mat-expansion-panel expanded="True">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{sprint.sprint_name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <button class="tag-btn" mat-flat-button [disabled]="sprint.sprint_status == 'Inactive'"
                            [color]="sprint.sprint_status == 'Completed' ? 'primary' : 'warn'"
                            [disableRipple]="true">{{sprint.sprint_status}}</button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-sprint [sprint_id]="sprint.sprint_id"></app-sprint>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<ng-template #welcomePage>

    <body>
        <div class="home">

            <p><span style="font-size: 40px;color:rgb(39, 39, 39);line-height: 45px;">
                    <u>Agile Management Tool</u>
                    <br>
                </span>

                A tool for managing sprints, tasks, backlogs and time logging for projects.<br>
                Select the menu button in the top-left of the page to start.<br>

            </p>

        </div>



    </body>
</ng-template>

<div style="height: 150px"></div>

<div class="spacer"></div>