
.home {
    height: 30em;
    position: relative 
}

.home p {
    color:rgb(112, 112, 112);
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }


.sprint-wrapper {
    margin: 20px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
