.text_button{
    margin:30px;
    padding: 10px;
    line-height: 18px;
    height: auto;
    width: 100px;
    position: relative;
    left: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 15px;
}

.team-card{
    margin: auto;
    border-style: solid;
    border-width: thin;
    width: 500px;
}

.time{
    margin:auto;

}