.text_button{
    margin:10px;
    padding: 10px;
    line-height: 18px;
    height: auto;
    width: 100px;
    position: relative;
    left: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 15px;
    gap: 15px;
}

.team-card{
    max-width: 600px;
}