<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Agile Management Tool</span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" class="drawer-body">
    <mat-nav-list>
      <a routerLink="" routerLinkActive="active">
        <mat-list-item>
          <span>Home</span>
        </mat-list-item>
      </a>
      <a routerLink="/backlog" routerLinkActive="active">
        <mat-list-item>
          <span>Product Backlog</span>
        </mat-list-item>
      </a>
      <a routerLink="/sprint" routerLinkActive="active">
        <mat-list-item>
          <span>Sprint Backlog</span>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
