<mat-tab-group mat-align-tabs="center" animationDuration="1000ms" dynamicHeight>
    <mat-tab>
        <ng-template mat-tab-label class="tab-nav-bar">
            <mat-icon class="tab-icon">home</mat-icon>
            Home
          </ng-template>
        <h1> Welcome to Agile Management Tool</h1>
    </mat-tab>
    <mat-tab layout-fill>
        <ng-template mat-tab-label class="tab-nav-bar">
            <mat-icon class="tab-icon">view_column</mat-icon>
            Product Backlog
          </ng-template>
        <app-backlog></app-backlog>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label class="tab-nav-bar">
            <mat-icon class="tab-icon">view_column</mat-icon>
            Sprint Backlog
          </ng-template>
   
            <h1 >Sprint Board Goes here!</h1>
            <app-backlog></app-backlog>
    </mat-tab>
  </mat-tab-group>

