mat-drawer-container{
  height: 100vh;
  overflow: hidden;
}


.drawer-body{
  min-width: 200px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.tab-icon{
  margin-right: 5px;
}

.tab-nav-bar{
  font-size: 100px !important;
}
